<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Ordine</title>
</head>
<body>
	
	<div class = "container text-center">
        <h1 th:if="${not listaOrdini.isEmpty()}">Ordini</h1>
        <h1 th:if="${listaOrdini.isEmpty()}">Al momento non vi sono ordini in attesa</h1>
    </div>
     
    <div>
        <table class="table table-striped table-bordered" id = "mytab1" th:if="${not listaOrdini.isEmpty()}">
            <thead class="thead-dark">
                <tr>
                    <th>Ristorante</th>
                    <th>Prezzo</th>
                    <th>Stato</th>
                    <th>Indirizzo</th>
                    <th>Prodotti</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ordine: ${listaOrdini}">
                    <td th:text="${ordine.getNome_ristorante()}">Ristorante</td>
                    <td th:text="${ordine.getPrezzo_totale()}">Prezzo</td>
                    <td th:text="${ordine.getStato()}">Stato</td>
                    <td th:text="${ordine.getIndirizzo()}">Indirizzo</td>
                    <td th:each="prodotto: ${ordine.getProdotti()}" th:text="${prodotto.getNome()}">Nome</td>
                    <td><form th:action="@{/ordini/accept/{id_ordine}(id_ordine = ${ordine.getId()})}" method="get">
                    <button type ="submit" style="background-color:white">Accetta Ordine</button>
					</form>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4><a th:href="@{/prodotto/Dashboard}">Clicca qui per tornare alla dashboard</a></h4>
    </div>
</div>

</body>
</html>